{% extends "::layout/layout.html.twig" %}

{% block body %}

    <h2 class="titr">
        <p>{{ offre.intitule }} </p>
    </h2>
    <div>

        <div class="span3">
            <p><b>Date de publication</b> : {{ offre.datePublication|date('d/m/Y')}}</p>
            <p><b>Date de début</b> : {{ offre.dateDebut|date('d/m/Y') }}</p>
            <p><b>Durée</b> : {{offre.duree}}</p>
            <p><b>Type de contrat</b> : {{ offre.typecontrat.libelle }}</p>
        </div>
        <div class="span2">
            <h4>société :</h4> 
            <p> <b>Recruteur</b></p>
            <p>{{ offre.utilisateur.nom }} {{ offre.utilisateur.prenom }}</p>
            <p> <b>Contact</b> </p>
            <p>{{offre.utilisateur.email}} </p><p>{{offre.utilisateur.telephone}}</p>
            <p> <b>Coordonnées</b> : </p>
            <p>{{offre.utilisateur.adresse.rue}} {{offre.utilisateur.adresse.codePostal}} {{offre.utilisateur.adresse.ville}} {{offre.utilisateur.adresse.pays}}</p>

        </div>
        <div class="span12">
            <h4>Métier :</h4> 
            <p><b>Intitulé</b> : {{ offre.metier.libelle }}</p>
            <p><b>Description</b> : {{offre.metier.description}}</p>
        </div>

    </div>

    <h4 class="span12">  Description de l'offre : </h4>

    <div class="span12 descriptionOffre " >

        <div>{{ offre.description }} </div>

    </div>
    <br>
</div>





{% endblock %}
